<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <title>Home</title>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
        </script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous">
        </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <style>
        span.glyphicon-user {
            font-size: 1.2em;
        }

        .container {
            text-align: center;
        }

        .blue {
            background-color: #fff;
            border-color: #fff;
            border-width: 0ch;
        }

        .people {
            background-color: #fff;
            text-align: center;
        }

        .icon {
            font-size: 100px;
            width: 120px;
        }

        .sendRecive {
            padding: 10%;
            text-align: center;
        }

        .progress{
            margin: 5%;
        }
        .active{
            text-align: center;
        }
        #snackbar {
            visibility: hidden;
            min-width: 250px;
            margin-left: -125px;
            background-color: #333;
            color: #fff;
            text-align: center;
            border-radius: 2px;
            padding: 16px;
            position: fixed;
            z-index: 1;
            left: 50%;
            bottom: 30px;
            font-size: 17px;
        }

        #snackbar.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

        @-webkit-keyframes fadein {
            from {
                bottom: 0;
                opacity: 0;
            }

            to {
                bottom: 30px;
                opacity: 1;
            }
        }

        @keyframes fadein {
            from {
                bottom: 0;
                opacity: 0;
            }

            to {
                bottom: 30px;
                opacity: 1;
            }
        }

        @-webkit-keyframes fadeout {
            from {
                bottom: 30px;
                opacity: 1;
            }

            to {
                bottom: 0;
                opacity: 0;
            }
        }

        @keyframes fadeout {
            from {
                bottom: 30px;
                opacity: 1;
            }

            to {
                bottom: 0;
                opacity: 0;
            }
        }
    </style>

    <script>

        // make an object for each presentObject name an number if photo possible

        $(document).ready(function () {

            var present = new Set();
            var percent = 0;
            //var a= new set();
            $("#1").mouseenter(function () {
                $("#1").css("color", "red");
            });
            $("#2").mouseenter(function () {
                $("#2").css("color", "red");
            }); $("#5").mouseenter(function () {
                $("#5").css("color", "red");
            });

            $(".people button").click(function (event) {
                //alert(event.target.id);
                //  myFunction(event.target.id);// resole the problem to make the butttton only for the button which are the present taker
                if (present.has(event.target.id)) {
                    present.delete(event.target.id);
                    percent--;
                } else {
                    present.add(event.target.id);
                    percent++;
                }
                var per = percent / {{ data.number }} * 100;
            var presented = document.getElementById("Present");
            presented.style.width = per + '%';
            presented.textContent = per.toFixed(0) + ' % are Present';
            var absent = document.getElementById("Absent");
            absent.style.width = 100 - per + '%';
            absent.textContent = 100 - per.toFixed(0) + ' % are Absent';

        });

        $("#presentList").click(function () { // to see all present 
            var ppl = "";
            console.log(ppl + "1");
            /*
              something is pushing the id of the button in side the set and to remove that this funntion delete that
            */
            if (present.has('presentList')) {
                present.delete('presentList');// resolve this in an efficient way
            }


            present.forEach(pple => {
                ppl += 'present ' + pple + '\n';
            });

            console.log("is this working???");
            console.log(ppl);
            $("#presentpeople").text(ppl);
        });

        $("#send").click(function () {

            var jsonObjString = JSON.stringify(present);
            var obj = JSON.parse(jsonObjString);

            if (present.has('send')) {
                present.delete('send');
            }

            var jsonObjString = JSON.stringify([...present]);

            $.ajax({
                dataType: 'text',
                type: 'POST',
                url: 'http://localhost:8080/endpoint',
                data: {
                    data: jsonObjString
                },
                success: function (newList) {
                    myFunction("All is well");
                },
                error: function () {
                    alert('some thing went wrong');
                }
            });

        });

        });

        // function to show toast
        function myFunction(y) {
            var x = document.getElementById("snackbar");
            x.className = "show";
            x.innerText = y + " is present";
            setTimeout(function () {
                x.className = x.className.replace("show", "");
            }, 1000);
        }

    </script>


</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand" href="#">BBMS</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>{{#router "/news"}}News{{/router}}</li>
                    <li>{{#router "/attendance"}}attendance{{/router}}</li>
                    <li>{{#router "/addPerson"}}Add Person{{/router}}</li>
                </ul>
                    {{!-- the selected tab is moving---solve the problem --}}

                <ul class="nav navbar-nav navbar-right">
                    <li>{{#router "/monthlyReport"}}Monthly Report{{/router}}</li>
                    <li>{{#router "/attendanceReport"}}Attendance Report{{/router}}</li>
                    <li>{{#router "/logout"}}Log Out{{/router}}</li>
                </ul>
            </div>

        </div>
    </nav>

    {{{body}}}

</body>

</html>