<form action="/addPerson" method="POST" class="form-group" >
    <div class="form-inline">
        <label for="usr">First Name</label>
        <input type="text" name="firstName" class="from-control" id="firstName">
        <label>Last Name</label>
        <input type="text" name="lastName" class="from-control" id="lastName">
    </div>
    <div class="form-inline">
        <label>School :</label>
        <input type="text" name="school" class="from-control" id="school">
        <label>Std : </label>        
        <input type="text" name="std" class="from-control" id="std">
    </div>
    <button   class="btn btn-lg btn-primary" type="submit">Submit</button> 
</form>