<div class="container">
    <div id="people" class="people">
        <tr class="row">
            {{#repeter data.number }}
            <button id="{{#repeter1}}{{/repeter1}}" class="glyphicon glyphicon-user blue col-xs-12 col-sm-6 col-md-4 col-lg-2 btn btn-default icon"></button>
            {{/repeter}}
        </tr>
    </div>

    <div id="snackbar">Some text some message..</div>
    <p id="presentPeople"></p>
</div>
<div class="progress">
    <div id="Present" class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" style="width:50%">
        Present
    </div>
    <div id="Absent" class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" style="width:50%">
        Absent
    </div>
    {{!-- add one bar here for late also --}}
</div>
<div class="btn-group-lg sendRecive">
    <button class="btn btn-primary" id="presentList">Click</button>
    <button class="btn btn-primary" id="send">Send</button>
</div>

