{{#each data}}

<div class="card col-xs-12 col-sm-6 col-md-4 col-lg-2">

    
    <div class="user-list-name-header">
            <h4>{{firstName}} {{lastName}}</h4></td>
    </div>
    <div class="user-list-info">

    </div>

</div>

{{/each}}