{{#each data}}

<div class="card col-xs-12 col-sm-6 col-md-4 col-lg-2">

    <div class="drop-down-button ">
        <div class="dropdown user-list-dropdown-btn">
            <button class="btn  glyphicon glyphicon-cog" type="button" data-toggle="dropdown">
            </button>
            <ul class="dropdown-menu">
                <li><a class="glyphicon glyphicon-edit" href="/userList/edit/{{PersonNum}}"> Edit</a></li>
                <li><a class=" glyphicon glyphicon-trash" href="/userList/remove/{{PersonNum}}"> remove</a></li>
            </ul>
        </div>
    </div>
    <div class="user-list-name-header">
            <h4>{{firstName}} {{lastName}}</h4></td>
    </div>
    <div class="user-list-info">

    </div>

</div>

{{/each}}